<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/static/siimple.min.css" />
		<link rel="stylesheet" href="/static/styles/github.css" />
		<script src="/static/highlight.min.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
	</head>

	<body>
		<div class="siimple-navbar">
			<a class="siimple-navbar-title" href="/">paster</a>
			<div class="siimple-navbar-subtitle">simple paste service</div>
			<div class="siimple--float-right">
				<a class="siimple-navbar-item" href="/new">Create</a>
				<a class="siimple-navbar-item" href="/search">Search</a>
			</div>
		</div>

		<div class="siimple-content siimple-content--large">

