<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>@@title@@</title>
		<link rel="stylesheet" href="/static/siimple.css" />
		<link rel="stylesheet" href="/static/styles/github.css" />
		<script src="/static/highlight.min.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
	</head>

	<body>
		<nav class="is-inline-flex">
			<a class="navlink" href="/">paster</a>
			<a class="navlink" href="/new">create</a>
			<a class="navlink" href="/search">search</a>
		</nav>

		<div class="container">

