<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/static/mini-default.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>@@title@@</title>
		<style>
		.container {
			width: 80%;
		}
		.responsive-label {
			align-items: center;
		}
		</style>
	</head>
	<body>
		<header>
			<a href="/" class="logo">paster</a>
			<a href="/new" class="button">new</a>
			<a href="/search" class="button">search</a>
		</header>
		<div class="container">
